<h1>Stations</h1>

<div class="station__container">
  <% @stations.each do |station|%>
  <div class="station__box">
    <p><%= station.title %></p>
    <p><%= link_to "Go to Station", station_path(station) %></p>
  </div>
  <% end %>
</div>


<%= link_to "Back to home", root_path, class: "btn btn-primary" %>