<h1>Stations</h1>

<%= link_to "Back to home", root_path %>
<ul>
  <% @stations.each do |station|%>
  <li>
    <p><%= station.title %></p>
    <p><%= link_to "Go to Station", station_path(station) %></p>
    <hr>
  </li>
  <% end %>
</ul>