<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
      <div class="well well-lg">
        <h1 class="about__header">About this app</h1>
        <p class="about__description">This is a simple app that plays music radio stations</p>
        <%= link_to 'Back to home', root_path, class: "btn btn-small btn-success" %>
      </div>
    </div>
  </div>
</div>